on boot
    chown system system /sys/devices/soc/78b7000.i2c/i2c-3/3-005f/irq
    chown system system /sys/devices/soc/78b7000.i2c/i2c-3/3-005f/clk_enable
    chown system system /sys/devices/soc/78b7000.i2c/i2c-3/3-005f/wakeup_enable

on post-fs-data
    # Create directory for TZ Apps
    mkdir /data/fpc_images 0770 system system
    chmod 0770 /data/fpc_images

service fingerprintd /system/bin/fingerprintd
    class late_start
    user system
    group system

on init
    write /sys/class/android_usb/android0/f_rndis/manufacturer bq
    write /sys/class/android_usb/android0/f_rndis/vendorID 2A47
    write /sys/class/android_usb/android0/iManufacturer bq
    write /sys/class/android_usb/android0/iProduct "Aquaris U Plus"
